<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Ik ben dus {{ person.custom.interesse}}</p>

<p>Het is vandaag {{ 'now' | date:"%Y-%m-%d %H:%M:%S" }}</p>
<p>Mijn verjaardag is op {{ person.birthdate }}</p>
<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>
